@using NewsPortal.Common;
@using NewsPortal.Common.Enums;

@model NewsPortal.ViewModel.Concrete.PageViewModel<NewsPortal.ViewModel.Concrete.NewsViewModel>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <h1>Новостная лента</h1>
    <div>
        <span>Источник ленты:</span>
        <form method="get">
            @Html.DropDownList("source", new SelectList(BaseHelper.GetEnumFields<NewsSources>(), "Источник"))
            <input type="submit" />
        </form>
    </div>

    <div>
        <p><input type="radio" checked>Сортировать по дате&#8195;&#8195;<input type="radio">Сортировать по источнику</p>
        <form method="post">
            <input type="button" class="btn-succes" method value="Просмотреть" onclick="location.href='@Url.Action("NewsPage","NewsPage")'" />
        </form>
        <br />
        <div>
            <table class="table row col-md-12">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">Источник</th>
                        <th scope="col">Название новости</th>
                        <th scope="col">Описание новости</th>
                        <th scope="col">Дата публикации</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.Items)
                    {
                        <tr class="news-column">
                            <td class="col-md-2">@Html.Raw(item.Link)</td>
                            <td class="col-md-2">@Html.Raw(item.Title)</td>
                            <td class="col-md-6">@Html.Raw(item.Description)</td>
                            <td class="col-md-2">@Html.Raw(item.PubDate)</td>
                        </tr>
                    }
                </tbody>
            </table>
            @for (var pageNumber = 1; pageNumber <= GetTotalNumberOfPages(); pageNumber++)
            {
                <div class="btn btn-link">
                    @Html.ActionLink(pageNumber.ToString(), "NewsPage", new { Page = pageNumber, Source = ViewBag.NewsSource })
                </div>
            }

            <span>@GetPaginationInfo()</span>
        </div>
    </div>
</div>

@functions
{
    string GetPaginationInfo()
    {
        var page = (int)ViewBag.PageNumber;
        return $"Page {page} of total {GetTotalNumberOfPages()} pages";
    }

    int GetTotalNumberOfPages()
    {
        var itemsPerPage = (int)ViewBag.NumberOfItemsPerPage;
        return (int)(Model.Count / itemsPerPage);
    }
}